body{
	background-color: bisque;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
                                               /*MENU*/
.container-fluid{
	background-color: #ff1133;
	box-shadow: 0px 4px 8px;
	/*position: fixed;*/
	/*z-index: 100;
	padding-top: 4em;*/
}
.nav-link:hover{
	color: white;
}


.navbar-collapse a:hover{
/*	color:#ff1133;*/
color: white;
 }

 .icoN :hover{
 	color: #ff1133;
 	animation:shake-left 0.8s linear both} @keyframes shake-left{0%,100%{transform:rotate(0deg);transform-origin:0 50%}10%{transform:rotate(2deg)}20%,40%,60%{transform:rotate(-4deg)}30%,50%,70%{transform:rotate(4deg)}80%{transform:rotate(-2deg)}90%{transform:rotate(2deg)}}
 }


                                                /*Productos*/


#Titulo-productos{
	display: flex;
	justify-content: center;
}


.card{
 display: flex !important;
	margin-left:3% !important;
	margin-right:3% ;
	margin-top: 3% !important;
	margin-bottom:2% !important;
	border: 5px solid black !important;
	color: black; !important;
	padding-left: 20px !important;
    padding-top:  50px !important;
    display: inline-block !important;
    padding: 0.30rem 0 !important;
    box-shadow: 0px 10px 8px;
    animation: skew 3s infinite;
	transform: skew(45deg);
	animation-direction: alternate;
	font-size: 13px;
	width: 13rem;
}

@keyframes skew{
	0%{
		transform: skew(1deg, 1deg);
	}

	100%{
		transform: skew(-1deg, -1deg);
	}
}
.btn{
	background-color: #ff1133;
	border: 2px solid black;
}

.btn:hover{
	 background: linear-gradient( to left,#ff1133, green);
}

.card img:hover{
	/*transition: box-shadow 0.3s ease;*/
color: white;
/*border-radius: 0.5rem;
padding: 0.1rem 0;*/
cursor: pointer;
filter: drop-shadow(0px 0px 15px #ff1133);
}




                                                     /*OFERTAS*/
span{
	color: #ff1133;
	font-family: monospace;
}

h2{
	display: flex;
	justify-content: center;
	margin-top: 5%;
	color: green;
	font-family: 'Satisfy', cursive;
}

.card-ofertas{
	width: 13em !important;
	margin-right: 50px;
}

                                                /* SECCION CONTACTANOS*/

.Imagen-Nosotros{
	padding-top: 70px;
}

.Imagen-Nosotros p{
	padding: 50px;
}
.copy{
	margin-left: 32pc;
}
                                              /*PIE DE PAGINA*/
 .breadcrumbb{
 	background-color: #ff1133;
 	box-shadow: 0px 13px 8px;
 }

 .breadcrumb a{
 	color: white;
 }

 .copy{
 	color: white;
 }

                                                    /*RESPONSIVE*/



                                                 /*ESTILOS PARA TABLET*/

 @media only screen and (max-width:770px ){
 	*{
 		margin: 0 !important;
	padding: 0 !important;
	box-sizing: border-box !important;
 	}

 	 a{
	 margin-left: 1em !important;
 	}

 	/*MENU*/

 	.container-fluid{
 		margin-bottom: .5em !important;
 		margin-top: .1em !important;
 	}

 	/*carrusel*/
    #carouselExampleInterval{
 		display: none;
 	}

 	/*PRODUCTOS*/
 	.card{
 		width: 9rem !important;
 		font-size: 12px;
 	}

 	#Titulo-productos{
 		display: flex;
 		justify-content: center;
 		margin-top: 2em !important;
 	}

 	/*OFERTAS*/
 	#Ofertas{
 	
 		margin-top: 3em !important;
 		margin-bottom: 3em !important;
 		left: 2em;

 	}

 	/*PIE DE PAGINA*/

 	.parrafo-pieDePagina{
 		margin: 1.5em !important;
 	}
 }

 /*PARA TELEFONOS*/

 @media only screen and (max-width:659px ) {
 	*{

 	}
 	/*PRODUCTOS*/
 	.card{
 	width: 7rem !important;
 		font-size: 12px;
 	}

 	.card-ofertas{
 		width: 6rem !important;
 		font-size: 11px;
 		display: inline-block;
 		margin-right: 50px !important;
 		left: 55px;
 	}
 }

 /*DISPOSITIVOS PEQUEÑOS*/

 @media only screen and (max-width:350px ) {
 	/*PRODUCTOS*/
 	.titulo-oferta{
 		font-size: 1em;
 	}

 	.card-ofertas{
 		width: 7rem !important;
 		font-size: 8px;
 		display: inline-block;
 		margin-right: 1px !important;
 	    left: 1em !important;
 		
 	}
 }
 
 /*DISPOSITIVOS EXTRA PEQUEÑOS*/

 @media only screen and (max-width:276px ) {
	/*OFERTAS*/
 	.titulo-oferta{
 		font-size: 1em;
 	}

 	.card-ofertas{
 		width: 8rem !important;
 		font-size: 8px;
 		display: inline-block;
 		margin-right: 1px !important;
 	    left: 5em !important;
 		
 	}	
 }